---
import PersonalPicture from "@/images/personal-picture.jpg";
---

<section class="flex flex-col-reverse justify-end lg:flex-row lg:justify-normal max-h-screen overflow-hidden">
    <img src={PersonalPicture.src} alt="" class="object-cover lg:w-96 lg:h-96 w-full h-[100vw] max-h-[50vh]" />
    <div class="flex justify-center items-center flex-col lg:h-96 lg:flex-grow pb-8 lg:pb-0">
        <h1 class="text-center font-semibold py-0.5 m-8 text-6xl text-transparent from-sky to-blue bg-gradient-to-br bg-clip-text">
            Hi, I'm Thijs
        </h1>
        <hr class="h-2 rounded-full bg-gradient-to-br from-sky to-blue w-4/5 border-0">
    </div>
</section>
